.container-search {
  top: 7rem;
  position: sticky;
  display: grid;
  grid-template-columns: 65% 25%;
  align-items: center;
  justify-content: center;
  /* margin-right: 1rem; */
  margin-top: 1.5rem;
  z-index: 100;
}
.right-box {
  display: grid;
  grid-template-columns: 40% 70%;
}
.search-box {
  /* padding-left: 3rem; */
  align-items: center;
  position: relative;
}
.search-box input {
  width: 95%;
  height: 3rem;
  font-size: 1.3rem;
  padding-left: 3rem;
  border-radius: 4rem;
  /* outline: none; */
  border-color: var(--blue);
  border-top-color: var(--blue);
}
.search-box i {
  font-size: 1.5rem;
  position: absolute;
  /* left: -15px; */
  top: 50%;
  transform: translateY(-50%);
  margin-left: 1rem;
}
.filter-box button {
  background: none;
  border: none;
  outline: none;
}
.filter-box button i {
  font-size: 2rem;
  color: var(--blue);
  margin-left: 5rem;
}
.sort-by-box {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  margin-left: 1rem;
}
.sort-by-box select {
  font-size: 1.3rem;
  border: none;
}

.container-list-job {
  /* top: 1rem; */
  position: relative;
  width: fit-content;
  min-width: 85%;
  height: auto;
  /* height: calc(100vh - 26rem); */
  /* max-height: calc(100vh - 26rem); */
  min-height: calc(100vh - 19rem);
  /* min-height: calc(100vh - 17.5rem); */
  padding: 2rem 4rem 1rem 4rem;
  display: grid;
  /* grid-template-columns: repeat(2, minmax(2.3rem, 1fr)); */
  grid-template-columns: repeat(2, max-content);
  /* grid-template-columns: repeat(auto-fit, minmax(max-content, 1fr)); */
  grid-auto-rows: min-content;
  /* row-gap: 2rem;  */
  row-gap: 2.5rem;
  column-gap: 2rem;
  align-items: start;
  justify-content: space-between;
  margin-left: 3%;
}

.container-list-job::before {
  content: ""; /* Creates an empty pseudo-element */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../../upload/images/job_portal_bg_.jpg") no-repeat center center;
  background-size: cover;
  opacity: 0.25; /* Apply opacity only to the background */
  z-index: -1; /* Places it behind the content */
}

.container-job-card {
  background: white;
  display: flex;
  width: 37rem;
  /* height: 5.5rem; */
  height: 6.5rem;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 1px 2px 10px rgba(106, 97, 97, 0.804);
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
}
.container-job-card-left {
  flex-grow: 1;
}
.containter-job-title h2 {
  margin: 0;
  padding: 0 0 0.8rem 0;
}
.container-job-description {
  display: flex;
  flex: 1 1;
  gap: 2rem;
  color: var(--blue);
}
.container-job-card-right {
  left: 0;
}
.container-job-card-right .apply-now {
  height: 3.2rem;
  font-size: 1.3rem;
  border-radius: 10px;
  border-width: 1px;
  box-sizing: border-box;
  box-shadow: 1px 2px 10px rgba(106, 97, 97, 0.304);
  color: white;
  background: var(--blue);
  padding: 0 1rem;
  cursor: pointer;
}
.container-job-card:hover {
  background: var(--blue);
  color: white;
  scale: 1.05;
}

.container-job-card:hover .container-job-description {
  color: white;
}
.container-job-card:hover .apply-now {
  background: var(--off-white);
  color: black;
}

/* .container-pagination > button {
  all: unset !important;
  border: none !important;
  outline: none !important;
  background: none !important;
} */

.container-pagination {
  /* background: black; */
  width: 100vw;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 0.5rem 0;
}

.container-pagination .page-links {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  color: black;
}

.container-pagination .page-links.active-page {
  color: white;
  background: var(--blue);
  border-radius: 12px;
  height: 0.4rem;
  width: 0.4rem;
}

.container-pagination .page-links.disabled-page {
  pointer-events: none;
  cursor: default;
  opacity: 50%;
}

@media (min-width: 1517px) {
  .container-list-job {
    row-gap: 3rem;
  }
  .container-job-card {
    width: 40rem;
    height: 6.5rem;
  }
}

@media (min-width: 1624px) {
  .container-list-job {
    row-gap: 3rem;
  }
  .container-job-card {
    width: 45rem;
    height: 6.5rem;
  }
}
@media (max-width: 1333px) {
  .container-list-job {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .container-job-card {
    width: 80%;
  }
}
@media (max-width: 796px) {
  .container-job-card {
    width: 100%;
  }
}
@media (max-width: 618px) {
  .container-job-card {
    width: 100%;
  }
  .container-job-card-right .apply-now {
    font-size: 1rem;
  }
  .container-job-card-left {
    font-size: 0.8rem;
  }
}
@media (max-width: 513px) {
  .container-list-job {
    margin-right: 100rem;
  }
  .container-job-card {
    width: 100%;
  }
  .container-job-card-right .apply-now {
    font-size: 0.8rem;
  }
  .container-job-card-left {
    font-size: 0.8rem;
  }
}
@media (max-width: 492px) {
  .container-job-card-right .apply-now {
    width: fit-content;
  }
}
.filter-box > button {
  /* display: none; */
  z-index: 1001;
  position: relative;
  cursor: pointer;
}
.filter-box-list {
  position: absolute;
  /* max-width: 50rem; */
  /* min-width: fit-content; */
  width: 46%;
  /* min-height: 20rem; */
  height: fit-content;
  background: orange;
  margin: auto;
  left: 50%;
  border-radius: 10px;
  border-style: solid;
  border-width: 1.4px;
  box-sizing: border-box;
  box-shadow: 2px 2px 0.2px 2px rgba(208, 208, 250, 0.2);
  display: none;
}

.filter-box-list-sub {
  padding: 2% 0 2% 0%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  background: #63d7bc;
  column-gap: 3%;
}
.filter-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 2.3rem;
  padding-left: 2%;
}
.filter-list-value {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 3%;
  width: 100%;
  font-size: 160%;
  margin: 0 1%;
}
.filter-list-value button {
  color: black;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 85%;
  height: 2.3rem;
  min-height: fit-content;
  width: max-content;
  margin-bottom: 2.2%;
  cursor: pointer;
  padding: 0 2% 0 2%;
}
.filter-value.chosen {
  background: var(--blue);
  color: var(--off-white);
}

.container-big {
  /* display: flex;
    flex: 1;
    flex-direction: row; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 1%;
}
.container-big .container-left {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  padding: 0 0 0 8%;
  z-index: 5;
  font-size: 110%;
}
.container-big .container-left .container-title {
  height: 3rem;
  min-height: fit-content;
  padding: 2% 0 0 0;
  width: 30rem;
  min-width: 20rem;
}
.container-big .container-left .container-sub-title {
  height: 3rem;
  height: fit-content;
  padding: 2% 0 0 0;
  text-wrap: wrap;
  width: 30rem;
  min-width: 20rem;
}
.container-big .container-left .container-description {
  height: 3rem;
  min-height: fit-content;
  padding: 2% 0 0 0;
  width: 50rem;
  min-width: 20rem;
}
.container-big .container-left .container-title h1 {
  font-size: 300%;
  color: var(--blue);
  margin: 0;
}
.container-big .container-left .container-sub-title h2 {
  font-size: 250%;
  /* font-size: 3rem; */
  font-weight: lighter;
  color: #090c9b;
  margin: 0;
  line-height: 140%;
}
.container-big .container-left .container-description h3 {
  font-weight: normal;
  font-size: 200%;
  margin: 0;
  line-height: 130%;
}
.container-big .container-left .container-list-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  height: 3rem;
  min-height: fit-content;
  padding: 4% 0 0 0;
  width: 35rem;
  min-width: 20rem;
}
.container-big .container-left .container-list-btn button {
  width: 135%;
  height: 4rem;
  font-size: 1.7rem;
  border-radius: 10px;
  border: none;
  box-shadow: 1px 1px 1px rgba(0.1, 0.1, 0.1, 0.1);
  cursor: pointer;
  background: var(--blue);
  color: white;
  transition: 0.35s;
}
.container-big .container-left .container-list-btn button:hover {
  box-shadow: 0 0 0 4px white, 0 0 0 8px var(--blue);
}
.container-big .container-right {
  z-index: 4;
  width: 100%;
}
.container-big .container-right {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}

.container-big .container-right .container-img {
  z-index: 4;
}

.container-big .container-right .container-img img {
  width: 100%;
  height: 100%;
  min-width: 712px;
  min-height: 449px;
  object-fit: cover;
}

.container-big .container-right .container-contact {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  z-index: 5;

  position: relative;
  top: -13%;
}
.container-big .container-right .container-contact .container-contact-each {
  font-size: 160%;
}

.container-big.second {
  /* height: 40rem;
    background: linear-gradient(to bottom, #3d51d5ca 0%, #3649BD 100%); */
  width: 100vw;
  display: flex;
  flex: 1;
}
.container-big > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media (max-width: 831px) {
  .container-big {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
}
